<section>
	<div class="page-header">
		<h1>Flexbox Grids</h1>
	</div>
	<h2>Basic Grids</h2>
	<div class="Grid Grid--gutters">
		<div class="Grid-cell">
			<div class="Demo">1/2</div>
		</div>
		<div class="Grid-cell">
			<div class="Demo">1/2</div>
		</div>
	</div>
	<div class="Grid Grid--gutters">
		<div class="Grid-cell">
			<div class="Demo">1/3</div>
		</div>
		<div class="Grid-cell">
			<div class="Demo">1/3</div>
		</div>
		<div class="Grid-cell">
			<div class="Demo">1/3</div>
		</div>
	</div>
	<div class="Grid Grid--gutters">
		<div class="Grid-cell">
			<div class="Demo">1/4</div>
		</div>
		<div class="Grid-cell">
			<div class="Demo">1/4</div>
		</div>
		<div class="Grid-cell">
			<div class="Demo">1/4</div>
		</div>
		<div class="Grid-cell">
			<div class="Demo">1/4</div>
		</div>
	</div>
	<div class="Grid Grid--gutters Grid--flexCells">
		<div class="Grid-cell">
			<div class="Demo">Full-height, even when my content doesn't fill the space.</div>
		</div>
		<div class="Grid-cell">
			<div class="Demo">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum mollis velit non gravida venenatis. Praesent consequat lectus purus, ut scelerisque velit condimentum eu. Maecenas sagittis ante ut turpis varius interdum. Quisque tellus ipsum, eleifend non ipsum id, suscipit ultricies neque.</div>
		</div>
	</div>
	<h2>Individual Sizing</h2>
	<div class="Grid Grid--gutters">
		<div class="Grid-cell u-1of2">
			<div class="Demo">1/2</div>
		</div>
		<div class="Grid-cell">
			<div class="Demo">auto</div>
		</div>
		<div class="Grid-cell">
			<div class="Demo">auto</div>
		</div>
	</div>
	<div class="Grid Grid--gutters">
		<div class="Grid-cell">
			<div class="Demo">auto</div>
		</div>
		<div class="Grid-cell u-1of3">
			<div class="Demo">1/3</div>
		</div>
	</div>
	<div class="Grid Grid--gutters">
		<div class="Grid-cell u-1of4">
			<div class="Demo">1/4</div>
		</div>
		<div class="Grid-cell">
			<div class="Demo">auto</div>
		</div>
		<div class="Grid-cell u-1of3">
			<div class="Demo">1/3</div>
		</div>
	</div>
	<h2>Responsive</h2>
	<div class="Grid Grid--gutters Grid--full large-Grid--fit">
		<div class="Grid-cell">
			<div class="Demo">Full / Halves</div>
		</div>
		<div class="Grid-cell">
			<div class="Demo">Full / Halves</div>
		</div>
	</div>
	<div class="Grid Grid--gutters Grid--full large-Grid--fit">
		<div class="Grid-cell">
			<div class="Demo">Full / Thirds</div>
		</div>
		<div class="Grid-cell">
			<div class="Demo">Full / Thirds</div>
		</div>
		<div class="Grid-cell">
			<div class="Demo">Full / Thirds</div>
		</div>
	</div>
	<h2>Nested Grids</h2>
	<div class="Grid Grid--gutters Grid--flexCells">
		<div class="Grid-cell">
			<div class="Demo">
				<div class="Grid Grid--gutters">
					<div class="Grid-cell u-1of3">
						<div class="Demo">1/3</div>
					</div>
					<div class="Grid-cell">
						<div class="Demo">
							<div class="Grid Grid--gutters">
								<div class="Grid-cell">
									<div class="Demo">1/2</div>
								</div>
								<div class="Grid-cell">
									<div class="Demo">1/2</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="Grid-cell u-1of3">
			<div class="Demo">1/3</div>
		</div>
	</div>
	<h2>Alignment Features</h2>
	<h3>Top-aligned Grid Cells</h3>
	<div class="Grid Grid--gutters Grid--top">
		<div class="Grid-cell">
			<div class="Demo">This cell should be top-aligned.</div>
		</div>
		<div class="Grid-cell u-1of2">
			<div class="Demo">Pellentesque sagittis vel erat ac laoreet. Phasellus ac aliquet enim, eu aliquet sem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pulvinar porta leo, eu ultricies nunc sollicitudin vitae. Curabitur pulvinar dolor lectus, quis porta turpis ullamcorper nec. Quisque eget varius turpis, quis iaculis nibh.</div>
		</div>
		<div class="Grid-cell">
			<div class="Demo">This cell should be top-aligned.</div>
		</div>
	</div>
	<h3>Bottom-aligned Grid Cells</h3>
	<div class="Grid Grid--gutters Grid--bottom">
		<div class="Grid-cell">
			<div class="Demo">This cell should be bottom-aligned.</div>
		</div>
		<div class="Grid-cell">
			<div class="Demo">Curabitur pulvinar dolor lectus, quis porta turpis ullamcorper nec. Quisque eget varius turpis, quis iaculis nibh. Ut interdum ligula id metus hendrerit cursus. Integer eu leo felis. Aenean commodo ultrices nunc, sit amet blandit elit gravida in.</div>
		</div>
		<div class="Grid-cell">
			<div class="Demo">This cell should be bottom-aligned.</div>
		</div>
	</div>
	<h3>Vertically Centered Grid Cells</h3>
	<div class="Grid Grid--gutters Grid--center">
		<div class="Grid-cell">
			<div class="Demo">This cell should be vertically-centered with the cell to its right.</div>
		</div>
		<div class="Grid-cell">
			<div class="Demo">Curabitur pulvinar dolor lectus, quis porta turpis ullamcorper nec. Quisque eget varius turpis, quis iaculis nibh. Ut interdum ligula id metus hendrerit cursus. Integer eu leo felis. Aenean commodo ultrices nunc, sit amet blandit elit gravida in. Sed est ligula, ornare ac nisi adipiscing, iaculis facilisis tellus. Nullam vel facilisis libero. Duis semper lobortis elit, vitae dictum erat.</div>
		</div>
	</div>
	<h3>Mixed Vertical Alignment</h3>
	<div class="Grid Grid--gutters">
		<div class="Grid-cell Grid-cell--top">
			<div class="Demo">This cell should be top aligned.</div>
		</div>
		<div class="Grid-cell">
			<div class="Demo">Curabitur pulvinar dolor lectus, quis porta turpis ullamcorper nec. Quisque eget varius turpis, quis iaculis nibh. Ut interdum ligula id metus hendrerit cursus. Integer eu leo felis. Aenean commodo ultrices nunc, sit amet blandit elit gravida in. Sed est ligula, ornare ac nisi adipiscing, iaculis facilisis tellus.</div>
		</div>
		<div class="Grid-cell Grid-cell--center">
			<div class="Demo">This cell should be center-aligned.</div>
		</div>
		<div class="Grid-cell Grid-cell--bottom">
			<div class="Demo">This cell should be bottom-aligned.</div>
		</div>
	</div>
</section>