<nav role="navigation" class="col-xs-12 navbar-inverse navbar-fixed-bottom">
  <div class="container-fluid">
    <div class="row">
    	<h6 class="text-muted pull-left">&copy; {{date | date:'yyyy' }} Zayo Group, LLC. All rights reserved.</h6>
    	<h6 class="pull-right"><span class="label label-date">{{$state.current.name}}</span></h6>
    </div>
  </div>
</nav>