section
  .jumbotron
    h1 Zayo Dev Summit Demo
    p
      | Aenean faucibus lorem vitae ornare tempus. Etiam egestas hendrerit risus, at blandit neque.
    p
      a.btn.btn-primary.btn-large
        i.fa.fa-rocket
        | Learn more &#187;
  .row
    .col-lg-12
      p
        | Maecenas vehicula molestie ipsum, id lacinia nibh iaculis sit amet. Sed cursus, nibh sit amet placerat bibendum, nisl felis consectetur massa, nec facilisis mauris eros sit amet nulla. Fusce vel ultricies mi, in viverra elit. Cras fringilla pulvinar est vitae mollis. Morbi facilisis nisi ut pellentesque consectetur. Nulla facilisi. Nunc urna velit, luctus et libero ac, ultrices tempor arcu. Integer ac nunc vestibulum, porttitor augue pretium, varius dui. Nulla fringilla sem ut convallis ullamcorper. Integer molestie, nisi non lacinia scelerisque, erat tortor imperdiet magna, nec tincidunt lorem risus et erat. Proin tristique metus eu lectus venenatis, nec euismod est tristique. Sed venenatis ullamcorper sapien, vestibulum facilisis lacus lacinia sit amet.