<section>
	<div class="jumbotron">
		<h1>Bootstrap 3 Kitchen Sink</h1>
		<p>A quick preview of everything Bootstrap has to offer.</p>
		<p><a class="btn btn-primary btn-large"><i class="fa fa-rocket"></i>&nbsp;Learn more »</a></p>
	</div>
	<div class="row">
		<div class="col-lg-6">
			<div id="headings" class="panel panel-default">
				<div class="panel-heading">Headings</div>
				<div class="panel-body">
				<h1 class="page-header">Page Header <small>With Small Text</small></h1>
				<h1>This is an h1 heading</h1>
				<h2>This is an h2 heading</h2>
				<h3>This is an h3 heading</h3>
				<h4>This is an h4 heading</h4>
				<h5>This is an h5 heading</h5>
				<h6>This is an h6 heading</h6>
				</div>
			</div>
			<div id="tables" class="panel panel-default">
				<div class="panel-heading">Tables
				</div>
				<div class="panel-body">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>#</th>
							<th>First Name</th>
							<th>Tables</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>1</td>
							<td>Michael</td>
							<td>Are formatted like this</td>
						</tr>
						<tr>
							<td>2</td>
							<td>Lucille</td>
							<td>Do you like them?</td>
						</tr>
						<tr class="success">
							<td>3</td>
							<td>Success</td>
							<td></td>
						</tr>
						<tr class="danger">
							<td>4</td>
							<td>Danger</td>
							<td></td>
						</tr>
						<tr class="warning">
							<td>5</td>
							<td>Warning</td>
							<td></td>
						</tr>
						<tr class="active">
							<td>6</td>
							<td>Active</td>
							<td></td>
						</tr>
					</tbody>
				</table>
				<table class="table table-striped table-bordered table-condensed">
					<thead>
						<tr>
							<th>#</th>
							<th>First Name</th>
							<th>Tables</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>1</td>
							<td>Michael</td>
							<td>This one is bordered and condensed</td>
						</tr>
						<tr>
							<td>2</td>
							<td>Lucille</td>
							<td>Do you still like it?</td>
						</tr>
					</tbody>
				</table>
				</div>
			</div>
		</div>
		<div class="col-lg-6">
			<div id="content-formatting" class="panel panel-default">
				<div class="panel-heading">Content Formatting
				</div>
				<div class="panel-body">
				<p class="lead">This is a lead paragraph.</p>
				<p>This is an <b>ordinary paragraph</b> that is <i>long enough</i> to wrap to <u>multiple lines</u> so that you can see how the line spacing looks.</p>
				<p class="text-muted">Muted color paragraph.</p>
				<p class="text-warning">Warning color paragraph.</p>
				<p class="text-danger">Danger color paragraph.</p>
				<p class="text-info">Info color paragraph.</p>
				<p class="text-success">Success color paragraph.</p>
				<p><small>This is text in a <code>small</code> wrapper. <abbr title="No Big Deal">NBD</abbr>, right?</small></p>
				<hr>
				<address>                <strong>Twitter, Inc.</strong><br>                795 Folsom Ave, Suite 600<br>                San Francisco, CA 94107<br>                <abbr title="Phone">P:</abbr> (123) 456-7890              </address><address class="col-6">                <strong>Full Name</strong><br>                <a href="mailto:#">first.last@example.com</a>              </address>
				<hr>
				<blockquote>Here's what a blockquote looks like in Bootstrap. <small>Use <code>small</code> to identify the source.</small>
				</blockquote>
				<hr>
				<div class="row">
					<div class="col-xs-6">
						<ul>
							<li>Normal Unordered List</li>
							<li>Can Also Work
								<ul>
									<li>With Nested Children</li>
								</ul>
							</li>
							<li>Adds Bullets to Page</li>
						</ul>
					</div>
					<div class="col-xs-6">
						<ol>
							<li>Normal Ordered List</li>
							<li>Can Also Work
								<ol>
									<li>With Nested Children</li>
								</ol>
							</li>
							<li>Adds Bullets to Page</li>
						</ol>
					</div>
				</div>
				<hr>
				<pre>function preFormatting() {  // looks like this;  var something = somethingElse;  return true;}</pre>
				</div>
			</div>
		</div>
	</div>
	<div id="forms" class="panel panel-default">
		<div class="panel-heading">Forms
		</div>
		<div class="panel-body">
		<form>
			<fieldset>
				<legend>Legend</legend>
				<div class="form-group">
					<label for="exampleInputEmail">Email address</label>
					<input type="text" placeholder="Enter email" id="exampleInputEmail" class="form-control">
				</div>
				<div class="form-group">
					<label for="exampleInputPassword">Password</label>
					<input type="password" placeholder="Password" id="exampleInputPassword" class="form-control">
				</div>
				<div class="form-group">
					<label for="exampleInputFile">File input</label>
					<input type="file" id="exampleInputFile">
					<p class="help-block">Example block-level help text here.</p>
				</div>
				<div class="checkbox">
					<label>
						<input type="checkbox">Check me out</label>
				</div>
				<button class="btn btn-default" type="submit">Submit</button>
			</fieldset>
		</form>
		<hr>
		<form class="form-inline">
			<input type="text" style="width: 200px;" placeholder="Email" class="form-control">
			<input type="password" style="width: 200px;" placeholder="Password" class="form-control">
			<div class="checkbox">
				<label>
					<input type="checkbox">Remember me</label>
			</div>
			<button class="btn btn-default" type="submit">Sign in</button>
		</form>
		<hr>
		<form class="form-horizontal">
			<div class="form-group">
				<label class="col-lg-2 control-label" for="inputEmail">Email</label>
				<div class="col-lg-10">
					<input type="text" placeholder="Email" id="inputEmail" class="form-control">
				</div>
			</div>
			<div class="form-group has-warning">
				<label class="col-lg-2 control-label" for="inputEmail">Email</label>
				<div class="col-lg-10">
					<input type="text" placeholder="Email" id="inputEmail" class="form-control">
				</div>
			</div>
			<div class="form-group has-error">
				<label class="col-lg-2 control-label" for="inputEmail">Email</label>
				<div class="col-lg-10">
					<input type="text" placeholder="Email" id="inputEmail" class="form-control">
				</div>
			</div>
			<div class="form-group has-success">
				<label class="col-lg-2 control-label" for="inputEmail">Email</label>
				<div class="col-lg-10">
					<input type="text" placeholder="Email" id="inputEmail" class="form-control">
				</div>
			</div>
			<div class="form-group">
				<label class="col-lg-2 control-label" for="inputPassword">Password</label>
				<div class="col-lg-10">
					<input type="password" placeholder="Password" id="inputPassword" class="form-control">
					<div class="checkbox">
						<label>
							<input type="checkbox">Remember me</label>
					</div>
					<button class="btn btn-default" type="submit">Sign in</button>
				</div>
			</div>
		</form>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-8">
			<div id="buttons" class="panel panel-default">
				<div class="panel-heading">Buttons
				</div>
				<div class="panel-body">
					<p>
						<button class="btn btn-lg btn-default" type="button">Default</button>
						<button class="btn btn-lg btn-primary" type="button">Primary</button>
						<button class="btn btn-lg btn-success" type="button">Success</button>
						<button class="btn btn-lg btn-info" type="button">Info</button>
						<button class="btn btn-lg btn-warning" type="button">Warning</button>
						<button class="btn btn-lg btn-danger" type="button">Danger</button>
						<button class="btn btn-lg btn-link" type="button">Link</button>
					</p>
					<p>
						<button class="btn btn-default" type="button">Default</button>
						<button class="btn btn-primary" type="button">Primary</button>
						<button class="btn btn-info" type="button">Info</button>
						<button class="btn btn-success" type="button">Success</button>
						<button class="btn btn-warning" type="button">Warning</button>
						<button class="btn btn-danger" type="button">Danger</button>
						<button class="btn btn-link" type="button">Link</button>
					</p>
					<p>
						<button class="btn btn-sm btn-default" type="button">Default</button>
						<button class="btn btn-sm btn-primary" type="button">Primary</button>
						<button class="btn btn-sm btn-success" type="button">Success</button>
						<button class="btn btn-sm btn-info" type="button">Info</button>
						<button class="btn btn-sm btn-warning" type="button">Warning</button>
						<button class="btn btn-sm btn-danger" type="button">Danger</button>
						<button class="btn btn-sm btn-link" type="button">Link</button>
					</p>
					<p>
						<button class="btn btn-xs btn-default" type="button">Default</button>
						<button class="btn btn-xs btn-primary" type="button">Primary</button>
						<button class="btn btn-xs btn-success" type="button">Success</button>
						<button class="btn btn-xs btn-info" type="button">Info</button>
						<button class="btn btn-xs btn-warning" type="button">Warning</button>
						<button class="btn btn-xs btn-danger" type="button">Danger</button>
						<button class="btn btn-xs btn-link" type="button">Link</button>
					</p>
					<p>
						<button class="btn btn-default" type="button"><span class="glyphicon glyphicon-star"></span> Glyphicons!</button>
						<button class="btn btn-primary" type="button"><span class="glyphicon glyphicon-edit"></span></button>
						<button class="btn btn-success" type="button"><span class="glyphicon glyphicon-plus"></span></button>
						<button class="btn btn-info" type="button"><span class="glyphicon glyphicon-info-sign"></span></button>
						<button class="btn btn-warning" type="button"><span class="glyphicon glyphicon-flash"></span></button>
						<button class="btn btn-danger" type="button"><span class="glyphicon glyphicon-ban-circle"></span></button>
						<button class="btn btn-link" type="button"><span class="glyphicon glyphicon-arrow-right"></span></button>
					</p>
			</div>
			</div>
		</div>
		<div class="col-lg-4">
			<div id="images" class="panel panel-default">
				<div class="panel-heading">Images
				</div>
				<div class="panel-body">
				<p><img class="img-rounded" src="http://placehold.it/100x100">
					<img class="img-circle" src="http://placehold.it/100x100">
					<img class="img-thumbnail" src="http://placehold.it/100x100"></p>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-3">
			<div id="dropdowns" class="panel panel-default">
				<div class="panel-heading">Dropdowns
				</div>
				<div class="panel-body clearfix">
				<div class="dropdown">
					<!-- Link or button to toggle dropdown -->
					<ul style="display: block; position: static;" aria-labelledby="dropdownMenu" role="menu" class="dropdown-menu">
						<li class="dropdown-header">Dropdown header</li>
						<li class="disabled">
							<a href="#" tabindex="-1">Action</a>
						</li>
						<li>
							<a href="#" tabindex="-1">Another action</a>
						</li>
						<li>
							<a href="#" tabindex="-1">Something else here</a>
						</li>
						<li class="divider"></li>
						<li>
							<a href="#" tabindex="-1">Separated link</a>
						</li>
					</ul>
				</div>
				</div>
			</div>
		</div>
		<div class="col-lg-9">
			<div id="input-groups" class="panel panel-default">
				<div class="panel-heading">Input Groups
				</div>
				<div class="panel-body">
				<div class="input-group">
					<span class="input-group-btn">                <button type="button" class="btn btn-default">Go!</button>              </span><input type="text" placeholder="Username" class="form-control">
				</div><br>
				<div class="input-group">
					<input type="text" class="form-control input-large">
					<span class="input-group-addon input-large">.00</span>
				</div><br>
				<div class="input-group">
					<span class="input-group-addon">$</span><input type="text" class="form-control">
					<span class="input-group-addon">.00</span>
				</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-6">
			<div id="navs" class="panel panel-default">
				<div class="panel-heading">Navs
				</div>
				<div class="panel-body clearfix">
				<ul class="nav nav-tabs">
					<li class="active">
						<a href="#">Home</a>
					</li>
					<li>
						<a href="#">About</a>
					</li>
				</ul>
				<p></p>
				<p></p>
				<ul class="nav nav-pills">
					<li class="active">
						<a href="#">Home</a>
					</li>
					<li>
						<a href="#">About</a>
					</li>
				</ul>
				<p></p>
				<p></p>
				<ul class="nav nav-stacked nav-pills">
					<li class="active">
						<a href="#">Home</a>
					</li>
					<li>
						<a href="#">About</a>
					</li>
				</ul>
				</div>
			</div>
		</div>
		<div id="navbar" class="col-lg-6">
			<div class="panel panel-default">
				<div class="panel-heading">Navbar
				</div>
				<div class="panel-body">
				<p></p>
				<div class="navbar">
					<div class="navbar-header">
						<a class="navbar-brand" href="#">Your Company</a>
					</div>
					<div class="navbar-collapse">
						<ul class="nav navbar-nav navbar-right">
							<li class="active">
								<a href="#">Home</a>
							</li>
							<li>
								<a href="#">About</a>
							</li>
							<li>
								<a href="#">Contact</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="navbar navbar-inverse">
					<div class="navbar-header">
						<a class="navbar-brand" href="#">Your Company</a>
					</div>
					<div class="navbar-collapse">
						<ul class="nav navbar-nav navbar-right">
							<li class="active">
								<a href="#">Home</a>
							</li>
							<li>
								<a href="#">About</a>
							</li>
							<li>
								<a href="#">Contact</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="navbar">
					<div class="collapse navbar-collapse">
						<a class="btn btn-primary navbar-btn">Navbar Button</a>
						<p class="navbar-text navbar-right">Navbar Text</p>
					</div>
				</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-6">
			<div id="pagination" class="panel panel-default">
				<div class="panel-heading">Pagination
				</div>
				<div class="panel-body">
				<ul style="margin-right: 10px;" class="pagination">
					<li>
						<a href="#">Prev</a>
					</li>
					<li>
						<a href="#">1</a>
					</li>
					<li>
						<a href="#">2</a>
					</li>
					<li>
						<a href="#">3</a>
					</li>
					<li>
						<a href="#">4</a>
					</li>
					<li>
						<a href="#">Next</a>
					</li>
				</ul>
				<ul class="pagination pagination-lg">
					<li>
						<a href="#">Prev</a>
					</li>
					<li>
						<a href="#">1</a>
					</li>
					<li>
						<a href="#">2</a>
					</li>
					<li>
						<a href="#">3</a>
					</li>
					<li>
						<a href="#">4</a>
					</li>
					<li>
						<a href="#">Next</a>
					</li>
				</ul>
				<ul class="pager">
					<li>
						<a href="#">Prev</a>
					</li>
					<li>
						<a href="#">Next</a>
					</li>
				</ul>
			</div>
		</div>
			<div id="labels" class="panel panel-default">
				<div class="panel-heading">Labels and Badges
				</div>
				<div class="panel-body">
				<h3><span class="label label-default">Default</span>&nbsp;<span class="label label-success">Success</span>&nbsp;<span class="label label-warning">Warning</span>&nbsp;<span class="label label-danger">Danger</span>&nbsp;<span class="label label-info">Info</span></h3>
				<p class="lead"><a href="#">Inbox <span class="badge">42</span></a></p>
				</div>
			</div>
		</div>
		<div class="col-lg-6">
			<div id="alerts" class="panel panel-default">
				<div class="panel-heading">Alerts
				</div>
				<div class="panel-body">
				<div>
					<div class="alert alert-danger">
						<button data-dismiss="alert" class="close" type="button">×</button>
						<strong>Oh snap!</strong> <a class="alert-link" href="#">Change a few things up</a> and try submitting again.
					</div>
					<div class="alert alert-success">
						<button data-dismiss="alert" class="close" type="button">×</button>
						<strong>Well done!</strong> You successfully read <a class="alert-link" href="#">this important alert message</a>.
					</div>
					<div class="alert alert-warning">
						<button data-dismiss="alert" class="close" type="button">×</button>
						<strong>Heads up!</strong> This <a class="alert-link" href="#">alert needs your attention</a>, but it's not super important.
					</div>
					<div class="alert alert-info">
						<button data-dismiss="alert" class="close" type="button">×</button>
						<strong>Heads up!</strong> This <a class="alert-link" href="#">alert needs your attention</a>, but it's not super important.
					</div>
					<div class="alert">
						<button data-dismiss="alert" class="close" type="button">×</button>
						<h4>Warning!</h4>
						<p>This is a block style alert.</p>
					</div>
				</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-6">
			<div id="progress" class="panel panel-default">
				<div class="panel-heading">Progress Bars
				</div>
				<div class="panel-body">
					<div class="progress">
						<div style="width: 60%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="60" role="progressbar" class="progress-bar"><span class="sr-only">60% Complete</span></div>
					</div>
					<div class="progress">
						<div style="width: 40%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="40" role="progressbar" class="progress-bar progress-bar-success"><span class="sr-only">40% Complete (success)</span></div>
					</div>
					<div class="progress">
						<div style="width: 20%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="20" role="progressbar" class="progress-bar progress-bar-info"><span class="sr-only">20% Complete</span></div>
					</div>
					<div class="progress">
						<div style="width: 60%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="60" role="progressbar" class="progress-bar progress-bar-warning"><span class="sr-only">60% Complete (warning)</span></div>
					</div>
					<div class="progress">
						<div style="width: 80%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="80" role="progressbar" class="progress-bar progress-bar-danger"><span class="sr-only">80% Complete (danger)</span></div>
					</div>
					<div class="progress">
						<div style="width: 35%" class="progress-bar progress-bar-success"><span class="sr-only">35% Complete (success)</span></div>
						<div style="width: 20%" class="progress-bar progress-bar-warning"><span class="sr-only">20% Complete (warning)</span></div>
						<div style="width: 10%" class="progress-bar progress-bar-danger"><span class="sr-only">10% Complete (danger)</span></div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-6">
			<div id="media-object" class="panel panel-default">
				<div class="panel-heading">Media Object
				</div>
				<div class="panel-body">
				<p></p>
				<div class="media">
					<a href="#" class="pull-left">    <img src="https://app.divshot.com/img/placeholder-64x64.gif" class="media-object">  </a>
					<div class="media-body">
						<h4 class="media-heading">Media heading</h4>
						<p>This is the content for your media.</p>
						<div class="media">
							<a href="#" class="pull-left">    <img src="https://app.divshot.com/img/placeholder-64x64.gif" class="media-object">  </a>
							<div class="media-body">
								<h4 class="media-heading">Media heading</h4>
								<p>This is the content for your media.</p>
							</div>
						</div>
					</div>
				</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-4">
			<ul class="list-group">
				<li class="list-group-item">Cras justo odio</li>
				<li class="list-group-item">Dapibus ac facilisis in</li>
				<li class="list-group-item">Morbi leo risus</li>
				<li class="list-group-item">Porta ac consectetur ac</li>
				<li class="list-group-item">Vestibulum at eros</li>
			</ul>
		</div>
		<div class="col-lg-4">
			<div class="list-group">
				<a class="list-group-item active" href="#">          Cras justo odio        </a><a class="list-group-item" href="#">Dapibus ac facilisis in        </a><a class="list-group-item" href="#">Morbi leo risus        </a><a class="list-group-item" href="#">Porta ac consectetur ac        </a><a class="list-group-item" href="#">Vestibulum at eros        </a>
			</div>
		</div>
		<div class="col-lg-4">
			<div class="list-group">
				<a class="list-group-item active" href="#">          <h4 class="list-group-item-heading">List group item heading</h4>          <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>        </a><a class="list-group-item" href="#">          <h4 class="list-group-item-heading">List group item heading</h4>          <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>        </a><a class="list-group-item" href="#">          <h4 class="list-group-item-heading">List group item heading</h4>          <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>        </a>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-3">
			<div id="panels" class="panel panel-primary">
				<div class="panel-heading">This is a header
				</div>
				<p class="panel-body">This is a panel</p>
				<div class="panel-footer">This is a footer
				</div>
			</div>
		</div>
		<div class="col-lg-3">
			<div class="panel panel-success">
				<div class="panel-heading">This is a header
				</div>
				<div class="panel-body">This is a panel</div>
				<div class="panel-footer">This is a footer
				</div>
			</div>
		</div>
		<div class="col-lg-3">
			<div class="panel panel-danger">
				<div class="panel-heading">This is a header
				</div>
				<div class="panel-body">This is a panel</div>
				<div class="panel-footer">This is a footer
				</div>
			</div>
		</div>
		<div class="col-lg-3">
			<div class="panel panel-warning">
				<div class="panel-heading">This is a header
				</div>
				<div class="panel-body">This is a panel</div>
				<div class="panel-footer">This is a footer
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-3">
			<div class="panel panel-info">
				<div class="panel-heading">This is a header
				</div>
				<p class="panel-body">This is a panel</p>
				<div class="panel-footer">This is a footer
				</div>
			</div>
		</div>
		<div class="col-lg-3">
			<div class="panel panel-default">
				<div class="panel-heading">This is a header
				</div>
				<div class="panel-body">This is a panel</div>
				<ul class="list-group list-group-flush">
					<li class="list-group-item">First Item</li>
					<li class="list-group-item">Second Item</li>
					<li class="list-group-item">Third Item</li>
				</ul>
				<div class="panel-footer">This is a footer
				</div>
			</div>
		</div>
		<div class="col-lg-3">
			<div id="wells" class="well">Default Well
			</div>
			<div class="well well-sm">Small Well
			</div>
		</div>
		<div class="col-lg-3">
			<div class="well well-lg">Large Padding Well
			</div>
		</div>
	</div>
</section>