<section>
	<div class="page-header">
		<h1>Service Orders</h1>
	</div>
	<p><a class="btn btn-success btn-large" ng-click="createSvcOrder()"><i class="fa fa-diamond"></i>&nbsp;Create</a></p>
	<hr />
	<ul class="list-group">
		<li class="list-group-item" ng-repeat="serviceOrder in serviceOrders">
			<span class="badge" ng-bind="serviceOrder.ownerid"></span>
			<h4 ng-bind="serviceOrder.name"></h4>
			<h5 ng-bind="serviceOrder.account_name__c"></h5>
		</li>
	</ul>
</section>