/* SITEWIDE */
html {
	overflow: -moz-scrollbars-vertical;
	overflow: scroll;
}

body {
	padding-top: 80px;
	padding-bottom: 80px;
}



/* MEAN.JS */
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty {
	border-color: #FA787E;
}
.ng-valid.ng-dirty {
	border-color: #78FA89;
}
.browsehappy.jumbotron.hide,
body.ng-cloak
{
	display: block;
}



/* CUSTOM BOOTSTRAP */
.navbar-brand {
	padding: 7px 15px 3px 15px;
}

.navbar-brand > img {
		display: inline-block;
		margin-right: 5px;
}

/* page headers */
.container.first .page-header,
.container-fluid.first .page-header,
.container.first .page-header > h1,
.container-fluid.first .page-header > h1 {
	margin-top: 0;
}



/* SOLVED BY FLEXBOX */
.Demo {
	width: 100%;
  padding: 1em;
  background: rgba(147,128,108,.1);
  border-radius: 3px;
}