<section>
	<div class="page-header">
		<h1>Accounts</h1>
	</div>
	<p><a class="btn btn-success btn-large" ng-click="createAcct()"><i class="fa fa-diamond"></i>&nbsp;Create</a></p>
	<hr />
	<ul class="list-group">
		<li class="list-group-item" ng-repeat="account in accounts">
			<span class="badge" ng-bind="account.type"></span>
			<h4 ng-bind="account.name"></h4>
			<p>
		</li>
	</ul>
</section>