<section>
	<div class="page-header">
		<h1>My Models</h1>
	</div>
	<ul class="list-group">
		<li class="list-group-item" ng-repeat="myModel in myModels">
			<span class="badge" ng-bind="myModel.name"></span>
			<h4 ng-bind="myModel.title__c"></h4>
			<h5 ng-bind="myModel.model_description__c"></h5>
		</li>
	</ul>
</section>