{% extends 'layout.server.view.html' %}

{% block content %}
	<header ui-view="header"></header>
	<div ui-view="main" class="content container-fluid first"></div>
	<footer ui-view="footer"></footer>
{% endblock %}